<div class="event-details travel-event-details" id="travel_event-<%= event.id %>">
  <div class="row">
    <div class="col-sm-1 icon">
      <%= fa_icon 'map-marker', class: 'text-primary display-4' %>
    </div>
    <div class="col-sm-11 text">
      <%= link_to travel_event_path(event) do %>
        <%= event.origin %> To <%= event.destination %>:
      <% end %>
      Estimated travel time: <%= event.duration_in_words %>
    </div>
  </div>
</div>