<div class="events">
  <% if events.any? %>
    <div class="row event">
      <div class="col-xs-3">
        <%= t('model.event.labels.title') %>
      </div>
      <div class="col-xs-3">
        <%= t('model.event.labels.kind') %>
      </div>
      <div class="col-xs-3">
        <%= t('model.event.labels.starts_at') %>
      </div>
      <div class="col-xs-3">
        <%= t('model.event.labels.ends_at') %>
      </div>
    </div>
  <% end %>
  <% events.each do |event| %>
    <%= render 'shared/event', event: event %>
  <% end %>
</div>
