<tbody>
  <tr>
    <td>
      <%= link_to event.title, event_path(event) %>
    </td>
    <td>
      <%= event.kind %>
    </td>
    <td>
      <%= format_datetime event.starts_at %>
    </td>
    <td>
      <%= format_datetime event.ends_at %>
    </td>
    <td>
      <%= event.price %>
    </td>
  </tr>
</tbody>
