<div class="navigation">
  <div class="row">
    <div class="col-lg-2 nav-button">
      <%= link_to t('nav.create_plan'), new_plan_path %>
    </div>
    <div class="col-lg-2 nav-button">
      <%= link_to t('nav.view_plans'), plans_path %>
    </div>
    <div class="col-lg-4 nav-middle">
      <%= link_to t('application.title'), root_path %>
    </div>
    <div class="col-lg-2 nav-button">
      <%= link_to t('nav.manifesto'), '/manifesto.html' %>
    </div>
    <div class="col-lg-2 nav-button">
      <%= link_to t('nav.help'), '/help.html' %>
    </div>
  </div>
</div>