<table class="table events">
  <% if parent_events.any? %>
    <h3 class="text-center"><%= t('model.plan.titles.scheduled_events') %></h3>
    <thead class="event">
      <th>
        <%= t('model.event.labels.title') %>
      </th>
      <th>
        <%= t('model.event.labels.kind') %>
      </th>
      <th>
        <%= t('model.event.labels.starts_at') %>
      </th>
      <th>
        <%= t('model.event.labels.ends_at') %>
      </th>
      <th>
        <%= t('model.event.labels.price') %>
      </th>
    </thead>
  <% end %>
  <% parent_events.each do |parent_event| %>
    <%= render 'shared/parent_event', parent_event: parent_event %>
  <% end %>
</div>
