<tbody>
  <tr>
    <td>
      <%= link_to parent_event.title, parent_event_path(parent_event) %>
    </td>
    <td>
      <%= parent_event.kind %>
    </td>
    <td>
      <%= format_datetime (parent_event.starts_at || DateTime.current) %>
    </td>
    <td>
      <%= format_datetime (parent_event.ends_at || DateTime.current) %>
    </td>
    <td>
      <%= parent_event.price %>
    </td>
  </tr>
</tbody>
