<div class="container form-group">
  <%= simple_form_for @event do |f| %>
    <div class="form-inputs">
      <%= f.hidden_field :plan_id, value: @event.plan_id || params[:plan_id] %>
      <% if @attributes.present? %>
        <% (@event.attributes.keys - @attributes).each do |attribute| %>
          <%= f.hidden_field attribute %>
        <% end %>
        <% @attributes.each do |attribute| %>
          <% if attribute == 'starts_at' || attribute == 'ends_at' %>
            <%= f.input attribute, as: :date_time_picker, id: "event_#{attribute}" %>
          <% else %>
            <%= f.input attribute %>
          <% end %>
        <% end %>
      <% else %>
        <%= f.input :kind %>
        <%= f.input :link %>
      <% end %>
    </div>
    <div class="form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to t('crud.cancel'), plans_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>