<div class="row event-details">
  <div class="col-xs-3 label">
    <span><%= t('model.event.labels.title') %>:</span>
    <span><%= @event.title %></span>
  </div>
  <div class="col-xs-3 label">
    <span><%= t('model.event.labels.kind') %>:</span>
    <span><%= @event.kind %></span>
  </div>
  <div class="col-xs-3 label">
    <span><%= t('model.event.labels.start') %>:</span>
    <span><%= @event.starts_at %></span>
  </div>
  <div class="col-xs-3 label">
    <span><%= t('model.event.labels.end') %>:</span>
    <span><%= @event.ends_at %></span>
  </div>
</div>