<div class="plan">
  <div class="row plan-info">
    <div class="col-xs-3">
      <%= t('model.plan.labels.title') %>: <%= @plan.title %>
    </div>
    <div class="col-xs-3">
      <%= t('model.plan.labels.total_time') %>: <%= @plan.total_time %>
    </div>
    <div class="col-xs-3">
      <%= t('model.plan.labels.start') %>: <%= format_datetime @plan.events.first.try(:starts_at) %>
    </div>
    <div class="col-xs-3">
      <%= t('model.plan.labels.end') %>: <%= format_datetime @plan.events.last.try(:ends_at) %>
    </div>
  </div>
  <%= render 'shared/events_list', events: @plan.events %>
</div>